body { 
    font-family: "Russo One", sans-serif;
}

.heading-div { 
    display: flex;  
    justify-content: center;   
    align-items: center; 
    margin-top: 10rem; 
}

.title { 
    font-family: "Russo One", sans-serif;
    font-size: 45px; 
}
